.c-box__titulo{
    color: #4d545c;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.c-box__information{
    max-width:580px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.c-box__information-simple{
    padding-bottom: 50px;
}

.c-box__info-box{    
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.c-box__button{    
    padding: 10px 30px;
    width: 170px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;   
    margin: 0 10px; 
    cursor: pointer;
    
}

.c-box__button .c-box__link-download{
    color: white;
    font-size: 16px;    
}

.c-box__button-ios{
    background-color: #26bba5;
    box-shadow:0 3px 0 #1b9f8a;
    transition: .1s;
}

.c-box__button-ios:hover{
    background-color: #5dccbb;
}

.c-box__button-mac{
    background-color: #6174ff;
    box-shadow:0 3px 0 #5161da;
    transition: .1s;
}

.c-box__button-mac:hover{
    background-color: #8897fe;
}
