.c-box__footer{    
    background-color: #f5f6f8;
}
.c-box-footer-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.c-box__footer_col{
    display: flex;
    flex: 1 2 2;
    align-items: center;
    max-width: 500px;  
    margin: 30px;
    
}

.c-box__footer-social{
    margin: 0 10px;
}

.c-box__footer-image{
    max-width: 70px;
}

.footer__rede-social-logo:hover{
    filter: invert(45%) sepia(100%) saturate(152%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.c-box__list-nav{
    display: inline-block;
    min-width: 100px;
    margin: 5px 25px;       
}

.c-box__footer-nav{
    color: #4d545c; 
}

.c-box__footer-nav:hover{
    color: #26bba4;
}

