/*plataform*/
.c-box__products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.c-box__products-info{
    flex: 1;
}

.c-box__products{
    flex: 1;
}

.c-box__platform-image{
    transform: translatex(-10%);    
}

@media(max-width: 800px){
    .c-box__products{
        display: inline-table;
        margin: 0 25px;
    }

    .c-box__platform-image{
        align-items: center;
        text-align: center;  
        max-width: 100%; 
        transform: translatex(0%);  
        
    }

    .c-box__products-list{  
        margin: 0 auto;      
        text-align: center;  
    }
    .c-box__platform-img{
        max-width: 100%;
    }
}

.c-box__products-list{        
    max-width: 400px;  
}

.c-box__produts-list-title{
    color: #4d545c;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.c-box__produts-list-desc{
    margin-bottom: 40px;    
}

/*box img plataform*/
.c-box__platform{
    text-align: center;
    display: flex;
    justify-content: center;
}

/*services*/
.c-box__tools-services{    
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
}

.c-box__tool-img{
    align-items:flex-start;          
}

.c-box__tools-item{
    margin: 10px;
    min-height: 70px;  
}

.c-box-tools-title{
    margin-bottom: 20px;
    font-size: 24px;
    color:#4d545c;
}

.c-box__tools-item-desc{    
    max-width: 420px;
    margin-bottom: 40px;
}

/*clientes*/

.c-box__client{
    margin: 0 auto;
    padding: 100px;
}

.c-box__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
}

.c-box__client-logo{
    align-items: center;
    align-self: center;
    flex: 1;
    margin: 40px;
}