*{
    padding: 0px;
    margin: 0px;    
    max-width: 1440px;
    text-decoration: none;
    list-style: none;
    color: #b1b0b0;
    font-size: 18px;
    font-family: "Bai Jamjuree", gerogia, sans-serif;
}