*{
    padding: 0px;
    margin: 0px;    
    max-width: 1440px;
    text-decoration: none;
    list-style: none;
    color: #b1b0b0;
    font-size: 18px;
    font-family: "Bai Jamjuree", gerogia, sans-serif;


}

/*Header*/
.c-header{
    align-items: center;
    text-align: center;
    padding: 100px;
    background-image: url('../images/bg-header-desktop.png');
}

/*box*/

.c-box__titulo{
    color: #4d545c;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.c-box__information{
    max-width:580px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.c-box__information-simple{
    padding-bottom: 50px;
}

.c-box__info-box{    
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.c-box__button{    
    padding: 10px 30px;
    width: 170px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;   
    margin: 0 10px; 
    cursor: pointer;
    
}

.c-box__button .c-box__link-download{
    color: white;
    font-size: 16px;
    
}

.c-box__button-ios{
    background-color: #26bba5;
    box-shadow:0 3px 0 #1b9f8a;
    transition: .1s;
}

.c-box__button-ios:hover{
    background-color: #5dccbb;
}

.c-box__button-mac{
    background-color: #6174ff;
    box-shadow:0 3px 0 #5161da;
    transition: .1s;
}

.c-box__button-mac:hover{
    background-color: #8897fe;
}

/*plataform*/
.c-box__products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    flex-wrap: nowrap;
}

.c-box__products{
    flex: 1;
}

.c-box__platform-image{
    margin-left: -40px;
}

.c-box__products-list{
    
    padding: 0 120px;
   
}
.c-box__produts-list-title{
    color: #4d545c;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.c-box__produts-list-desc{
    margin-bottom: 60px;
    
}

/*box img plataform*/
.c-box__platform{
    text-align: center;

}


/*services*/
.c-box__tools-services{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0 auto;
    text-align: center;
}

.c-box__tools-item{
    margin-bottom: 40px;
}

.c-box-tools-title{
    margin-bottom: 20px;
    font-size: 24px;
    color:#4d545c
}

.c-box__tools-item-desc{
    flex: 1;
    max-width: 300px;
}

/*clientes*/

.c-box__client{
    margin: 0 auto;
    padding: 100px;
}

.c-box__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*footer*/
.c-box__footer{
    margin: 0 auto;
    padding: 30px 80px;
    background-color: #f5f6f8;
}
.c-box-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    
}

.c-box__footer_col{
    flex: 1;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
}

.c-box__footer-social{
    margin: 0 10px;
}

.c-box__footer-image{
    max-width: 80px;
}

.footer__rede-social-logo:hover{
    filter: invert(45%) sepia(100%) saturate(152%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.c-box__footer-nav:hover{
    color: #26bba4;
}

.c-box__list-nav{
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    min-width: 90px;
}

